*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #E8E1DA;
}

/* parte header */

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin: 0 5vh 0 0;
}
.btn_logar{
    width: 70px;
    height: 30px;
    border: none;
    background-color: #96C67F;
    border-radius: 20px;
    color: beige;
}

/* parte 1 main */

.section1{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 30px;
}
#box1 > p{
    margin-top: 5vh;
    font-size: 17px;
}

.btn_comecar{
    border-style: none;
    background-color: #96C67F;
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
    margin-top: 5vh;
}

.imagem_principal{
    width: 30%;
    height: 30%;
    margin-left: 10vw;
}

/* parte 2 main */

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:20vh;
}
.div2{
    width: 20vw;
    height: 60vh;
    background-color: white;
    border-radius: 20px 20px 0 0; 
 
}
#imagens_pessoas{
    width: 100%;
    height: 50vh;
}

/* parte footer */

#rodape > p{
    font-size: large;
    text-align: center;
    margin: 21vh 0 0 0;
}
#rodape > ul{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#logos{
    width: 50%;
    height: 90%; 
    margin: 0 0 0 10vh;
}

